.DS_Store
*.o
*.d
Makefile
mac32
mac64
win32
win64
lin32
lin64
.qmake.stash
object_script.libacfutils.Debug
object_script.libacfutils.Release

build_opus_deps

libogg-1.3.2.tar.xz
libogg-1.3.2
libogg-linux-32
libogg-linux-64
libogg-mac-32
libogg-mac-64
libogg-win-32
libogg-win-64

opusfile-0.7.tar.xz
opusfile-0.7
opusfile-linux-32
opusfile-linux-64
opusfile-mac-32
opusfile-mac-64
opusfile-win-32
opusfile-win-64

opus-1.2.1.tar.xz
opus-1.2.1
opus-linux-32
opus-linux-64
opus-mac-32
opus-mac-64
opus-win-32
opus-win-64
