.DS_Store
*.o
*.d
.minimal-deps
qmake/Makefile
qmake/libacfutils.a
mac32
mac64
win32
win64
lin32
lin64
.qmake.stash
object_script.libacfutils.Debug
object_script.libacfutils.Release

build_opus_deps

libogg-1.3.2
libogg-linux-32
libogg-linux-64
libogg-mac-32
libogg-mac-64
libogg-win-32
libogg-win-64

opusfile-0.7
opusfile-linux-32
opusfile-linux-64
opusfile-mac-32
opusfile-mac-64
opusfile-win-32
opusfile-win-64

opus-1.2.1
opus-linux-32
opus-linux-64
opus-mac-32
opus-mac-64
opus-win-32
opus-win-64

curl-7.72.0
libcurl-linux-64
libcurl-win-64
libcurl-mac-64

lzma/qmake/object_script.liblzma.Debug
lzma/qmake/object_script.liblzma.Release
lzma/qmake/linux-32
lzma/qmake/linux-64
lzma/qmake/mac-32
lzma/qmake/mac-64
lzma/qmake/win-32
lzma/qmake/win-64
lzma/qmake/Makefile

src/test/dsfdump
src/test/shpdump
src/test/rwmutex

libacfutils-redist
qmake/acfutils.def
qmake/acfutils_resource.rc
qmake/object_script.acfutils.Debug
qmake/object_script.acfutils.Release

shapelib/libproj-linux-64
shapelib/libproj-mac-64
shapelib/libproj-win-64
shapelib/libshape-linux-64
shapelib/libshape-mac-64
shapelib/libshape-win-64
shapelib/proj-4.9.3
shapelib/shapelib-1.4.1

ocr/leptonica-1.75.1
ocr/liblept-linux-64
ocr/liblept-mac-64
ocr/liblept-win-64
ocr/tesseract-3.05.00
ocr/tesseract-linux-64
ocr/tesseract-mac-64
ocr/tesseract-win-64

ssl/openssl-1.1.1i
ssl/openssl-win-64
ssl/openssl-mac-64
ssl/openssl-mac-arm
ssl/openssl-linux-64

cglm/cglm-0.7.9

openal-soft/openal-soft-*-win-64
openal-soft/openal-soft-*-mac-64
openal-soft/openal-soft-*-linux-64

libxml2/libxml2-2.9.4
libxml2/libxml2-linux-64
libxml2/libxml2-win-64
libxml2/libxml2-mac-64

libjpeg/jpegsrc.v9c
libjpeg/libjpeg-linux-64
libjpeg/libjpeg-win-64
libjpeg/libjpeg-mac-64

pcre2/pcre2-10.32
pcre2/pcre2-linux-64
pcre2/pcre2-mac-64
pcre2/pcre2-win-64

glfw/glfw-3.3
glfw/glfw-linux-64
glfw/glfw-mac-64
glfw/glfw-win-64

glew/glew-1.13.0-linux-64
glew/glew-1.13.0-mac-64
glew/glew-1.13.0-win-64
glew/glew-1.13.0-mac-arm

cairo/cairo-1.16.0
cairo/pixman-0.36.0

libclipboard/libclipboard-linux-64

ucpp/libucpp.a
ucpp/sample

libiconv/libiconv-1.16
libiconv/libiconv-linux-64
libiconv/libiconv-mac-64
libiconv/libiconv-win-64

geographiclib/GeographicLib-1.51/
geographiclib/geographiclib-linux-64
geographiclib/geographiclib-mac-64
geographiclib/geographiclib-win-64

doc/html
